body {
      background-color: #eecff7;
}
h1 {
      text-align: center;
      color: #1e1e1e;
      font-family: Arial, Helvetica, sans-serif;
}
p {
      text-align: left;
      color: #1e1e1e;
      font-family: "Arial", sans-serif;
}
.info {
      margin: auto;
      width: 50%;
      border: 3px solid orange;
      padding: 5px 5px;
}
.bodytext {
      margin: auto;
      width: 80%;
      padding: 5px;
}
.button {
      text-decoration: none;
      font-family: "arial", sans-serif;
      background-color: blue;
      color: #1e1e1e;
      border: orange;
      text-align: center;
      cursor: pointer;
      padding: 10px 20px;
}
